<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Twitter</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-default">
  </nav>
  <div class="container">

    {% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
    {% endfor %}

    {% if current_user.is_anonymous %}
      <a href="{{ url_for('users.signup') }}">Sign up</a> or <a href="{{ url_for('users.login') }}">Log In</a>
    {% else %}
      <a href="{{ url_for('users.show', id=current_user.id) }}">My Profile</a>
      <a href="{{ url_for('users.logout') }}">Log out</a>
    {% endif %}
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>