<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Twitter</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="{{ url_for('root') }}" class="navbar-brand">
          <img src="{{ url_for('static', filename='images/warbler-logo.png') }}" alt="">
          <span>Warbler</span>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form navbar-right" action={{url_for('users.index')}} method='GET'>
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search Warbler" id="search">
              <span class="input-group-btn">  
                <button type="submit" class="btn btn-default">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </form>
        </li>
        {% if current_user.is_anonymous %}
          <li><a href="{{ url_for('users.signup') }}">Sign up</a></li>
          <li><a href="{{ url_for('users.login') }}">Log in</a></li>
        {% else %}
          <li><a href="{{ url_for('users.show', id=current_user.id) }}">
            <img src="{{ current_user.image_url }}" alt="{{ current_user.username }}">
          </a></li>
          <li><a href="{{ url_for('messages.new', id=current_user.id) }}">New Message</a></li>
          <li><a href="{{ url_for('users.logout') }}">Log out</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container">

    {% for message in get_flashed_messages() %}
      <div class="alert alert-{{ message['status'] }}">{{ message['text'] }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}
  </div>
</body>
</html>