{% extends 'base.html' %} 
{% block content %} 
{% if current_user.is_authenticated %}
<div class="row">
  <aside class="col-lg-3 col-md-12" id="home-aside">
    <div class="card user-card">
      <div>
        <img src="{{ url_for('static', filename='images/warbler-hero.jpg') }}" alt="" class="card-hero">
        <a href="{{ url_for('users.show', id=current_user.id) }}" class="card-link">
          <img src="{{ current_user.image_url }}" alt="Image for {{ current_user.username }}" class="card-image">
          <p>@{{ current_user.username }}</p>
        </a>
        <ul class="user-stats nav nav-pills">
          <li class="stat">
            <p class="small">Messages</p>
            <h4>
              <a href="{{ url_for('users.show', id=current_user.id) }}">{{ current_user.messages.count() }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Following</p>
            <h4>
              <a href="{{ url_for('users.following', id=current_user.id) }}">{{ current_user.following.count() }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Followers</p>
            <h4>
              <a href="{{ url_for('users.followers', id=current_user.id) }}">{{ current_user.followers.count() }}</a>
            </h4>
          </li>
        </ul>
      </div>
    </div>
  </aside>
  <div class="col-lg-6 col-md-12">
    <ul class="list-group" id="messages">
      {% for message in messages %}
      <li class="list-group-item">
        <a href="{{ url_for('messages.show', id=message.user.id, message_id=message.id ) }}" class="message-link"/>
        <a href="{{ url_for('users.show', id=message.user.id) }}">
          <img src="{{ message.user.image_url }}" alt="" class="timeline-image">
        </a>
        <div class="message-area">
          <a href="{{ url_for('users.show', id=message.user.id) }}">@{{ message.user.username }}</a>
          <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
          <p>{{ message.text }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% else %}
<div class="home-hero">
  <h1>What's Happening?</h1>
  <h4>New to Warbler?</h4>
  <p>Sign up now to get your own personalized timeline!</p>
  <a href="{{ url_for('users.signup') }}" class="btn btn-primary">Sign up</a>
</div>
{% endif %}
{% endblock %}