/* General */

body {
  background-color: #f5f8fa;
}

.form-control {
  margin-bottom: 20px;
}

/* Nav */

.navbar {
  background-color: #fff;
  height: 46px;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

.navbar a {
  color: #66757f;
  font-size: 13px;
  font-weight: bold;
}

.navbar a:hover {
  color: #1c94e0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand > img {
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 5px;
  width: 20px;
  border-radius: 2px;
}

.nav > li > a > img {
  margin: -20px 0 -15px;
  width: 40px;
  border-radius: 3px;
}

ul.nav.navbar-nav {
  align-items: center;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
  display: flex;
}

nav form.navbar-form {
  display: flex;
  position: relative;
}

#search.form-control {
  border-radius: 20px;
  margin-bottom: 0;
  width: 100%;
  font-size: 13px;
  padding-right: 28px;
}

#search.form-control + .btn {
  position: absolute;
  right: 9px;
  top: 2px;
  bottom: 4px;
  z-index: 1;
  border-radius: 20px;
  padding: 0;
  color: #66757f;
}

#search.form-control + .btn:hover {
  cursor: pointer;
}

#search.form-control + .btn:active,
#search.form-control + .btn:focus {
  box-shadow: none;
}

#search:active,
#search:focus {
  box-shadow: none;
  border: 2px solid #007bff;
}

@media (max-width: 468px) {
  nav form.navbar-form {
    display: none;
  }
}

/* User Profile */

.join-message {
  margin-top: 100px;
}

#profile-image,
#profile-avatar {
  border-radius: 5px;
  display: block;
  margin-left: -15px;
}

#profile-image {
  margin: 0 auto 15px;
  width: 100%;
}

#profile-avatar {
  width: 200px;
  height: 200px;
  border: 5px solid #FFF;
  margin-top: -120px;
  border-radius: 12px;
  z-index: 1;
  position: relative;
  box-shadow: 0 1px 1px rgba(136,153,166,0.15);
}

.timeline-image {
  border-radius: 5px;
  height: 48px;
  width: 48px;
  margin-top: -5px;
}

.message-area,
.timeline-image {
  display: inline-block;
}

.message-area {
  margin-left: 5px;
}

#warbler-hero {
  background-image: url('/static/images/warbler-hero.jpg');
  height: 360px;
  margin-top: -20px;
  opacity: 0.7;
}

.full-width {
  width: 100vw;
  margin: 0 -50vw;
  position: relative;
  left: 50%;
  right: 50%;
}

.row.full-width {
  background-color: #fff;
  margin-top: -80px;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
}

.user-stats .btn {
  margin-top: 12px;
}

.user-stats .pull-right form {
  display: inline;
}

.stat {
  margin-right: 20px;
  text-align: center;
}

.stat > .small {
  color: #555;
  text-transform: uppercase;
  font-size: 60%;
  margin: 10px 0 0;
}

.stat > .small + h4 {
  margin-top: 5px;
}

#user-messages {
  margin-top: 10px;
}

#sidebar-username {
  margin-top: 30px;
}

.card {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 5px;
  border: 1px solid #CCC;
  position: relative;
  background: white;
  margin-top: 20px;
}

.card > div {
  position: absolute;
  background: white;
}

.card form {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

.card-hero {
  width: 100%;
}

.card-image {
  border: 3px solid #fff;
  border-radius: 7px;
  height: 70px;
  width: 70px;
  margin-top: -35px;
}

.card-link {
  display: inline-block;
  margin-left: 10px;
}

.user-cards {
  margin-bottom: 20px;
}

/* Signed out home */

.home-hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  left: 0;
  z-index: -1;
  background-image: url('/static/images/signed-out-home.jpg');
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-shadow: 0 0 8px #66757f;
}

.home-hero .btn {
  border-radius: 20px;
  text-shadow: none;
  position: relative;
  z-index: 1;
  width: 150px;
}

.home-hero h1 {
  margin-bottom: 4rem;
}

.home-hero:before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.3);
}