{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-4">
    <h2 class="join-message">Edit Your Profile.</h2>
    <form action="{{ url_for('users.show', id=user.id) }}?_method=PATCH" method="POST" id="user_form">
      {{ form.csrf_token }}
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      {{ form.email(placeholder="What's your email?", value=user.email, class="form-control") }}
      {% if form.username.errors %}
        {% for error in form.username.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      {{ form.username(placeholder="What do you want your username to be?", value=user.username, class="form-control") }}
        {% if form.image_url.errors %}
          {% for error in form.image_url.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      {{ form.image_url(placeholder="Optional: What image do you want to use?", value=user.image_url,
      class="form-control") }}
      <p>To confirm changes, enter your password:</p>
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}
      <div class="edit-btn-area">
        <button type="submit" class="btn btn-success">Edit this user!</button>
        <a href="{{ url_for('users.show', id=user.id) }}" class="btn btn-outline-secondary">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}