{% extends 'base.html' %}

{% block content %}

<form action="{{ url_for('users.show', id=user.id) }}?_method=PATCH" method="POST">
  {{ form.csrf_token }}
  <div>
    {% if form.email.errors %}
      {% for error in form.email.errors %}
        <span class="text-danger">
          {{ error }}
        </span>
      {% endfor %}
    {% endif %}
    {{ form.email(placeholder="What's your email?", value=user.email) }}
  </div>
  <div>
    {% if form.username.errors %}
      {% for error in form.username.errors %}
        <span class="text-danger">
          {{ error }}
        </span>
      {% endfor %}
    {% endif %}
    {{ form.username(placeholder="What do you want your username to be?", value=user.username) }}
  </div>
  <div>
    {% if form.image_url.errors %}
      {% for error in form.image_url.errors %}
        <span class="text-danger">
          {{ error }}
        </span>
      {% endfor %}
    {% endif %}
    {{ form.image_url(placeholder="Optional: What image do you want to use?", value=user.image_url) }}
  </div>
  <br>
  <div>
    {% if form.password.errors %}
      {% for error in form.password.errors %}
        <span class="text-danger">
          {{ error }}
        </span>
      {% endfor %}
    {% endif %}
    {{ form.password(placeholder="Enter your password to confirm") }}
  </div>
  <button type="submit">Edit this user!</button>
</form>
<a href="{{ url_for('users.show', id=user.id) }}">Go Back</a>
{% endblock %}