{% extends 'user_page.html' %}
{% block user_details %}
<div class="col-sm-9">
  <div class="row">
    {% for follower in user.followers %}
    <div class="col-lg-4 col-md-6 col-12">
      <div class="card user-card">
        <div class="card-inner">
          <img src="{{ url_for('static', filename='images/warbler-hero.jpg') }}" alt="" class="card-hero">
          <div class="card-contents">
            <a href="{{ url_for('users.show', id=follower.id) }}" class="card-link">
              <img src="{{ follower.image_url }}" alt="Image for {{ follower.username }}" class="card-image">
              <p>@{{ follower.username }}</p>
            </a>
            {% if current_user.is_following(follower) %}
            <form method="POST" action="{{url_for('users.follower', follower_id=follower.id)}}?_method=DELETE">
              <input type="submit" value="Unfollow" class="btn btn-primary btn-sm">
            </form>
            {% else %}
            <form method="POST" action="{{url_for('users.follower', follower_id=follower.id)}}">
              <input type="submit" value="Follow" class="btn btn-outline-primary btn-sm">
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}