{% extends 'base.html' %}
{% block content %}
  <h1>Info on User #{{ user.id }}</h1>
  <ul>
    <li>{{ user.username }}</li>
    <li>{{ user.email }}</li>
    <li><a href="{{ url_for('messages.index', id=user.id) }}">See Messages</a></li>
    <li><img src="{{ user.image_url }}" alt="Image for {{ user.username }}"></li>
    <li><a href="{{ url_for('users.edit', id=user.id) }}">Edit</a></li>
    <li>
      <form method="POST" action="{{url_for('users.show', id=user.id)}}?_method=DELETE">
        <input type="submit" value="Delete">
      </form>
    </li>
    <li><a href="{{ url_for('root') }}">Go Back</a></li>
  </ul>
{% endblock %}