{% extends 'base.html' %}

{% block content %}

<form action="{{ url_for('messages.index', id=user_id) }}" method="POST">
  {{ form.csrf_token }}
  <div>
    {% if form.text.errors %}
      {% for error in form.text.errors %}
        <span class="text-danger">
          {{ error }}
        </span>
      {% endfor %}
    {% endif %}
    {{ form.text(placeholder="What's happening?", class="form-control", rows="3") }}
  </div>
  <button type="submit" class="btn btn-success pull-right">Add my message!</button>
</form>

{% endblock %}